@import 'tailwindcss';

:root {
    --color-primary: #f6f3ee;
    --color-secondary: #f2f1ef;
    --color-third: #eeebe3;
    --color-contrast: #1b1711;
    --color-accent: #B07D2A;

    --font-color-primary: #1b1711;
    --font-color-secondary: #8a8072;


    --inner-padding: 3rem;

    --font-size-micro: 0.6875rem;
    --font-size-microPlus: 0.6875rem;
    --font-size-mini: 0.75rem;
    --font-size-miniPlus: 0.75rem;
    --font-size-small: 0.8125rem;
    --font-size-smallPlus: 0.8125rem;
    --font-size-regular: 0.9375rem;
    --font-size-regularPlus: 0.9375rem;
    --font-size-large: 1.125rem;
    --font-size-largePlus: 1.125rem;
    --font-size-title1: 2.25rem;
    --font-size-title2: 1.5rem;
    --font-size-title3: 1.25rem;
    --title-1: var(--font-weight-semibold) var(--title-1-size) /var(--title-1-line-height) var(--font-regular);
    --title-1-size: 1.0625rem;
    --title-1-line-height: 1.4;
    --title-1-letter-spacing: -0.012em;
    --title-2: var(--font-weight-semibold) var(--title-2-size) /var(--title-2-line-height) var(--font-regular);
    --title-2-size: 1.25rem;
    --title-2-line-height: 1.33;
    --title-2-letter-spacing: -0.012em;
    --title-3: var(--font-weight-semibold) var(--title-3-size) /var(--title-3-line-height) var(--font-regular);
    --title-3-size: 1.5rem;
    --title-3-line-height: 1.33;
    --title-3-letter-spacing: -0.012em;
    --title-4: var(--font-weight-semibold) var(--title-4-size) /var(--title-4-line-height) var(--font-regular);
    --title-4-size: 2rem;
    --title-4-line-height: 1.125;
    --title-4-letter-spacing: -0.022em;
    --title-5: var(--font-weight-semibold) var(--title-5-size) /var(--title-5-line-height) var(--font-regular);
    --title-5-size: 2.5rem;
    --title-5-line-height: 1.1;
    --title-5-letter-spacing: -0.022em;
    --title-6: var(--font-weight-semibold) var(--title-6-size) /var(--title-6-line-height) var(--font-regular);
    --title-6-size: 3rem;
    --title-6-line-height: 1;
    --title-6-letter-spacing: -0.022em;
    --title-7: var(--font-weight-semibold) var(--title-7-size) /var(--title-7-line-height) var(--font-regular);
    --title-7-size: 3.5rem;
    --title-7-line-height: 1.1;
    --title-7-letter-spacing: -0.022em;
    --title-8: var(--font-weight-semibold) var(--title-8-size) /var(--title-8-line-height) var(--font-regular);
    --title-8-size: 4rem;
    --title-8-line-height: 1.06;
    --title-8-letter-spacing: -0.022em;
    --title-9: var(--font-weight-semibold) var(--title-9-size) /var(--title-9-line-height) var(--font-regular);
    --title-9-size: 4.5rem;
    --title-9-line-height: 1;
    --title-9-letter-spacing: -0.022em;
    --text-large: var(--text-large-size) /var(--text-large-line-height) var(--font-regular);
    --text-large-size: 1.0625rem;
    --text-large-line-height: 1.6;
    --text-large-letter-spacing: 0;
    --text-regular: var(--text-regular-size) /var(--text-regular-line-height) var(--font-regular);
    --text-regular-size: 0.9375rem;
    --text-regular-line-height: 1.6;
    --text-regular-letter-spacing: -0.011em;
    --text-small: var(--text-small-size) /var(--text-small-line-height) var(--font-regular);
    --text-small-size: 0.875rem;
    --text-small-line-height: calc(21 / 14);
    --text-small-letter-spacing: -0.013em;
    --text-mini: var(--text-mini-size) /var(--text-mini-line-height) var(--font-regular);
    --text-mini-size: 0.8125rem;
    --text-mini-line-height: 1.5;
    --text-mini-letter-spacing: -0.01em;
    --text-micro: var(--text-micro-size) /var(--text-micro-line-height) var(--font-regular);
    --text-micro-size: 0.75rem;
    --text-micro-line-height: 1.4;
    --text-micro-letter-spacing: 0;
    --text-tiny: var(--text-tiny-size) /var(--text-tiny-line-height) var(--font-regular);
    --text-tiny-size: 0.625rem;
    --text-tiny-line-height: 1.5;
    --text-tiny-letter-spacing: -0.015em;
}

* {
    font-family: 'DM Mono';
    box-sizing: border-box;
}

h1 {
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 13.25cqi;
    /* line-height: 13cqi; */
}

h2 {
    font-family: 'Cormorant Garamond';
    font-size: var(--title-9-size);
}

b {
    font-family: 'Cormorant Garamond';
    font-size: var(--title-4-size)
}

.projects h3 {
    @apply text-nowrap;
    font-size: var(--title-4-size);
}

p {
    font-size: var(--text-regular);
}

.progress-hr {
    @apply text-[#3B3430] w-full mb-2 border;
}
.socials a img {
    @apply w-6 h-6
}

.mf-cursor-media {
    z-index: 0;
    border-radius: 0px;
}

.mf-cursor-media-box {
    z-index: 0;
    border-radius: 0px;
}

/* SCROLL */
.page {
	@apply min-h-screen;
}
.textRevealWrapper {
	@apply h-dvh relative text-3xl uppercase;
    z-index: 10;
}
.text {
    @apply absolute top-1/2 left-1/2 text-center w-max;
    transform: translate(-50%, -50%);
}
.char {
    opacity: 0.1;
}

.projectEl {
    @apply flex overflow-hidden;
    font-size: 120px;
}

.right .slide {
    position: absolute;
    width: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.list li {
    @apply px-2;
}

.list li span:hover {
    color: #000080;
}